@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-[#27272a];
  }
  
  body {
    @apply m-0 p-0;
  }
}

@layer utilities {
  .cursor-block {
    caret-color: transparent;
  }
  
  .cursor-block::after {
    content: '_';
    color: #3b82f6;
    animation: blink 1s infinite;
    margin-left: 1px;
  }
  
  @keyframes blink {
    0%, 49% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }
}
